body {
    font-family: "Inter", sans-serif, !important;
}

.cultivation-container {
    max-height: 70px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar {
    width: 260px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1050;
}

.back-button {
    width: 40px;
    height: 40px;
}