{% extends 'base.html' %}

{% block content %}
<main class="flex-grow-1 p-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 mb-4">
                <div class="card-body">
                    <h5 class="text-success fw-bold">Dane podstawowe</h5>
                    <hr>
                    <p><strong>E-mail:</strong> {{ user.email }}</p>
                    <p><strong>Data rejestracji:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>
                </div>
            </div>

            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="text-success fw-bold">Moje statystyki</h5>
                    <div class="row text-center mt-3">
                        <div class="col-4">
                            <h3 class="fw-bold">{{ user.fields.count }}</h3>
                            <small class="text-muted">Pola</small>
                        </div>
                        <div class="col-4">
                            <h3 class="fw-bold">{{ user.profile.total_area|floatformat:2 }} ha</h3>
                            <small class="text-muted">Powierzchnia</small>
                        </div>
                        <div class="col-4">
                            <h3 class="fw-bold">{{ user.profile.total_yield_amonut|floatformat:2 }} kg</h3>
                            <small class="text-muted">Całkowite zebrane plony</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}