<aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-success shadow-lg"
       style="width: 260px;
              height: 100vh;
              z-index: 1050">
    <a href="#"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none px-3 pt-2">
        <span class="fs-4 fw-bold">AgriLog</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#"
               class="nav-link active bg-white text-success fw-bold mb-2"
               aria-current="page">Pulpit</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white hover-opacity mb-2">Moje Pola</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white hover-opacity mb-2">Gatunki Roślin</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white hover-opacity">Historia Upraw</a>
        </li>
    </ul>
    <hr>
    <div class="d-flex align-items-center text-decoration-none">
        <div class="dropdown px-2">
            <a href="{% url "profile" %}"
               class="d-flex align-items-center text-white text-decoration-none">
                <img src="https://github.com/mdo.png"
                     alt=""
                     width="32"
                     height="32"
                     class="rounded-circle me-2">
                <strong>Moje konto</strong>
            </a>
        </div>
        <div>
            <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-white p-0 shadow-none">
                    <i class="bi"></i>
                    <span class="small">Wyloguj</span>
                </button>
            </form>
        </div>
    </div>
</aside>
