{% extends 'base.html' %}
{% block content %}
    <main class="flex-grow-1 bg-light p-4 min-vh-100">
        <div class="mb-4">
            <h2 class="fw-bold text-dark">Moje Pola</h2>
        </div>
        <div class="row g-4">
            {% for field in user.fields.all %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="field-card shadow-sm border p-4 bg-white h-100 d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-start mb-4">
                            <div>
                                <h3 class="fw-bold mb-1">{{ field.name }}</h3>
                                <span class="text-muted small"><i class="bi bi-geo-alt"></i>Lokalizacja</span>
                            </div>
                            <div class="text-end">
                                <span class="fs-4 fw-bold text-success">{{ field.area_size }}</span>
                                <small class="text-muted d-block text-uppercase" style="font-size: 0.6rem;">hektarów</small>
                            </div>
                        </div>
                        <div class="field-info-zone mb-4 p-3 rounded-3 bg-light">
                            <small class="text-uppercase text-muted d-block mb-2"
                                   style="font-size: 0.7rem">Aktualne uprawy:</small>
                            <div class="cultivation-container">
                                {% for cultivation in field.latest_cultivations %}
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="bi bi-patch-check text-success me-2 small"></i>
                                        <p class="fs-5 mb-0 fw-semibold text-dark">{{ cultivation.crop_type }}</p>
                                        <small class="text-muted ms-auto pe-2">{{ cultivation.year }}</small>
                                    </div>
                                {% empty %}
                                    <p class="text-muted small">Brak danych</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mt-auto pt-3 border-top d-flex justify-content-between align-items-center">
                            <a href="{{ field.get_absolute_url }}" class="btn btn-success px-4 rounded-pill">Zarządzaj</a>
                            <div class="action-icons text-muted">
                                <i class="bi bi-pencil-square me-2"></i>
                                <i class="bi bi-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
